<form action="answer" data-turbo="false">
  <label for="question">ask your coach anything:</label>
  <div class="input-form">
  <input type="text" name="question" class="form-control">
  <input type="submit" value="Ask" class="btn btn-primary">
  </div>
</form>
