/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.container {
  margin: 0 auto;
}

.answer-container, .question-container {
  margin-bottom: 30px;
  padding: 10px;
  border-left: 8px solid rgb(200, 200, 200);
  max-width: 550px;
}

.answer-container {
  background-color: rgba(250, 250, 203, 0.8);
}

.input-form {
  display:flex;
  justify-content: center;
  margin-top: 5px;
  max-width: 500px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(90, 90, 90, 0.1);
}

.form-control {
  border-radius: 0.25rem 0 0 0.25rem;
  border: 0;
}

.btn {
  border-radius: 0 0.25rem 0.25rem 0;
}

a {
  text-decoration: none;
}
